.comments{
  width: 100%;
  height: 100vh;
  margin: auto;
}

.comment {
  width: 50%;
  border: 1px solid red;
  margin: auto;
  &__container {
    background-color: red;
    width: 100%;
    height: 100%;
    &__comment {
      width: 100%;
      text-align: center;
    }
  }
}
