.comments{
  width: 100%;
  height: 100vh;
  margin: auto;
}

.comment {
  width: 35%;
  margin: auto;
  &__container {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    &__comment {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      position: relative;
      padding: 1.5rem 0;
    
      &__score {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        color: blue;
        font-weight: bold;
        position: absolute;
        background-color: #c6ccd2;
        padding: .3rem;
        top: 10%;
        left: 2%;
        border-radius: 10px;
        & span {
          padding-top: .2rem;
        }
        & button {
          padding: .2rem;
          background: none;
          border: none;
          color: blue;
          font-size: 1.2rem;
        }
      }

      &__user {
        display: flex;
        margin-left: 4rem;
        & h4 {
          margin-left: .5rem;
        }
        &__date {
          margin-left: 1.5rem;
          color: grey;
        }
        & img {
          width: 6%;
          margin-top: -0.5rem;
        }
      }

      &__content {
        margin-left: 4rem;
        margin-top: 1rem;
        text-align: left;
        color: grey;
        width: 85%;
      }

      &__replies {
        & button {
          background-color: transparent;
          border: none;
          display: flex;
        }
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 20%;
        right: 5%;
        width: 7%;
        & p {
          color: blue;
          margin-left: .3rem;
        }
        &:hover {
          opacity: .5;
        }
      }
    }
    &:first-child {
      margin-top: 2rem;
    }
  }
}
